{% extends "layout.html" %}
{% block title %}Episodes list{% endblock %}
{% block content %}
<div class="container-fluid mt-2">
    <h1 class="display-4 text-center">Seasons Details</h1>
    
    <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for season in rows %}
            <div class="col">
                <div class="card">
                    <img src="{{ season.poster_url }}" class="card-img-top" alt="Poster" >
                    <div class="card-body">
                        <h5 class="card-title"><a href="{{ url_for('episodes.get_episodes_by_season', season_id=season.id) }}">{{ season.name }}, Episodes: {{ season.episode_count }}</a></h5>
                        <p class="card-text">{{ season.overview }}</p>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Release Date: {{ season.air_date }}</li>
                            <a href="{{ url_for('seasons.edit_season', id=season['id']) }}" class="btn btn-primary m-1">Edit</a>
                        </ul>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
