
{% extends "layout.html" %}
{% block title %}List Titles{% endblock %}
{% block content %}
<div class="container-fluid">
    <h2>Movie and TV Series List</h2>
    <table>
        <h1>Episode Details</h1>
        {% for episode in data %}
            <h2>{{ episode.name }}</h2>
            <p>Episode Number: {{ episode.episode_number }}</p>
            <p>ID: {{ episode.id }}</p>
            <p>IMDB ID: {{ episode.imdb_id }}</p>
            <p>Overview: {{ episode.overview }}</p>
            <p>Release Date: {{ episode.release_date }}</p>
            <p>Runtime Minutes: {{ episode.runtime_minutes }}</p>
            <p>Season ID: {{ episode.season_id }}</p>
            <p>Season Number: {{ episode.season_number }}</p>
            <h3>Sources</h3>
            {% for source in episode.sources %}
                <p>Name: {{ source.name }}</p>
                <p>Format: {{ source.format }}</p>
                <p>Region: {{ source.region }}</p>
                <p>Type: {{ source.type }}</p>
            {% endfor %}
        {% endfor %}
    </table>
</div>
{% endblock %}