{% extends "layout.html" %}
{% block title %}Seasons list{% endblock %}
{% block content %}
<div class="container-fluid mt-2">
    <h1 class="display-4 text-center">Seasons</h1>
    <!-- sb2648, 11/20/2023 -->
    <!-- Logic to render season details -->
    <div class="row row-cols-1 row-cols-md-5 g-4">
        {% for season in rows %}
            <div class="col">
                <div class="card">
                    <img src="{{ season.poster_url }}" class="card-img-top" alt="Poster" >
                    <div class="card-body">
                        <h5 class="card-title"><a href="{{ url_for('episodes.get_episodes_by_season', season_id=season.id) }}">{{ season.name }}</a></h5>
                        <p>{{ season.episode_count }} Episodes </p>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item font-weight-bold"><strong>Release Date</strong> <br> {{ season.air_date }}</li>
                            <a href="{{ url_for('seasons.edit_season', id=season['id']) }}" class="btn btn-primary m-1">Edit</a>
                            <a href="{{ url_for('seasons.delete_season', id=season['id']) }}" class="btn btn-danger m-1"> Delete </a>
                        </ul>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
